.red_required{
  color:red;
  font-size: 20px;
}
#label_clock{
  font-size: 22px;
  text-align: center;
  color:#3498db ;
}
#label_date{
  font-size: 15px;
}
#container_date{
  cursor: pointer;
}